PORT=5090
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5190
SEED_ADMIN_NAME=Store Admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=adminpassword
SEED_CASHIER_NAME=Store Cashier
SEED_CASHIER_EMAIL=cashier@example.com
SEED_CASHIER_PASSWORD=cashierpassword
